<#@ template language="VB" hostspecific="True" #><#@ include file="%TEMPLATES_PATH%\Definitions\Class.tt" #>
<# If Hv(Cl_Description) Then #>
<# Id(+0) #><Leviathan.Description(Description:="<#= Cl_Description #>")> _<# End If #>